@page "{handler?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RazorDemoLibrary.Areas.UI.Pages.SimpleSubmitModel
@{
    Layout = "_LayoutMaster";
}
@section mainContent{
    @Html.TextBoxFor(m => m.TextBoxValue, new {
                                    id = "txtName",
                                    @class = "dbf_edit_textBox-field"

                                    })
    

    <div>
    @Model.DivText
    
    </div>

    <table border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px" align="right" id="tblButtons">
    <tr>


        <td align="left" style="padding-right: 5px">
            <input type="submit" class="dbf_edit_Button" asp-page-handler="myclick" value="OK" />
        </td>
    </tr>
</table>
}
